body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #f0f0f0;
    color: #000;
    font-family: Arial, sans-serif;
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-input {
    display: none;
}

.switch-label {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-circle {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.switch-input:checked + .switch-label {
    background-color: #333;
}

.switch-input:checked + .switch-label .switch-circle {
    transform: translateX(30px);
}

.hidden {
    display: none;
}
footer {
    background-color: #1f2937; /* Tailwind's bg-gray-900 */
    padding: 2rem; /* Tailwind's p-8 */
    color: #d1d5db; /* Tailwind's text-gray-400 */
}

footer h3 {
    font-size: 1.25rem; /* Tailwind's text-xl */
    font-weight: bold; /* Tailwind's font-bold */
    margin-bottom: 0.5rem; /* Tailwind's mb-2 */
}

footer p, footer ul {
    margin: 0.5rem 0;
}

footer ul {
    padding-left: 0;
    list-style-type: none;
}

footer a {
    color: #9ca3af; /* Tailwind's text-gray-400 */
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff; /* Tailwind's text-white */
}

footer .flex {
    display: flex;
}

footer .space-x-4 > * + * {
    margin-left: 1rem;
}

footer p.text-center {
    margin-top: 2rem; /* Tailwind's mt-8 */
    font-size: 0.875rem; /* Tailwind's text-gray-500 */
    color: #6b7280; /* Tailwind's text-gray-500 */
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 0.5rem 0; /* Tailwind's py-2 */
    border-bottom: 1px solid #e5e7eb; /* Tailwind's border-gray-200 */
}

td.text-right {
    text-align: right;
}
#description-fr,
#description-en {
    padding: 20px;
    background-color: #2d3748; /* Darker shade of gray */
    border-radius: 8px;
    font-family: 'Roboto', sans-serif; /* Example font */
}

.text-lg {
    font-size: 1.125rem; /* Equivalent to 18px */
}

.text-xl {
    font-size: 1.25rem; /* Equivalent to 20px */
}

.leading-relaxed {
    line-height: 1.75; /* Increase line height for better readability */
}

@media (min-width: 768px) {
    #description-fr,
    #description-en {
        font-size: 1.25rem; /* Larger font size on medium screens and up */
    }
}